body {
	background-image: url("images/cyber.jpg");
}

h1 {
	font-size: 25px;
	text-align: center;
	color: pink;
	margin: 30px 0px 30px 0px; /* top right bottom left*/
}

p {
	font-family: monospace;
	font-size: 14px;
	text-align: right;
	color: pink;
	padding: 10px;
	margin: 5px;
}

iframe {
	border: 3px solid pink;
}

#leftfloat {
	float: left;
	padding: 0px 10px 0px 0px;
}

#rightfloat {
	float:right;
	padding: 0px 0px 0px 10px;
}

/* primary elements */
#maintext {
	position: absolute;
	left: 1%;
	top: 56%;
	width: 20%;
	border-style: solid;
	border-color: pink;
	background-color: #2f1744;
	z-index: 9;
	cursor: move;
}

#divinelight {
	float: left;
	width: 34%;
	padding: 8px;
}
	
#rectangle {
	position: absolute;
	z-index: 3;
	width: 50%;
	height: 75%;
	left: 25%;
	top: 10%;
}

#mobilebox {
	display: none;
}

#linkbox {
	position: absolute;
	top: 30%;
	left: 3%;
	margin: auto;
	z-index: 6;
	background-image: url("images/double_pendulum.gif");
	background-repeat: no-repeat;
	border-style: solid;
	border-color: pink;
	cursor: move;
	height: 190px;
	width: 215px;
}

#linkbox p {
	color: purple;
	text-align: justify;
}

#linkbox ul {
	list-style-type: none;
	height: 190px;
	width: 150px;
}


/* secondary elements */
#koa-ad {
	position: absolute;
	border: 3px solid pink;
	z-index: 4;
	left: 80%;
	top: 20%;
	cursor: move;
}

#snorkle-square {
	position: absolute;
	border: 3px solid pink;
	z-index: 5;
	width: 85px;
	height: 85px;
	left: 93%;
	top: 90%;
	cursor: move;
}


/* lastfm display */
#lastfm {
	position: absolute;
	border: solid pink;
	border-width: 3px 3px 3px 3px;
	z-index: 9;
	background-color: #2f1744;
	left: 2%;
	top: 12%;
	cursor: move;
}

#album-cover {
	align: center;
	width: 140px;
	height: 140px;
}

#track {
	font-family: monospace;
	font-size: 16px;
	color: pink;
}

#artist {
	font-family: monospace;
	font-size: 14px;
	color: pink;
}

#date {
	font-family: monospace;
	font-size: 12px;
	color: pink;
}

#date a {
	color: white;
}

/* mobile reworking */
@media (max-width: 800px) {

	h1 {
		font-size: 20px;
		text-align: center;
		color: pink;
		margin: 30px 0px 30px 0px;
	}

	p {
		font-family: monospace;
		font-size: 13px;
		text-align: right;
		color: pink;
		padding: 10px;
		margin: 5px;
	}

	/* primary elements */
	#maintext {
		position: absolute;
		left: 2%;
		top: 10%;
		width: 95%;
		border-style: solid;
		border-width: 1px 1px 1px 1px;
		border-color: pink;
		background-color: #2f1744;
		z-index: 9;
	}
	
	#divinelight {
		float: left;
		width: 34%;
		padding: 8px;
	}

	#mobilebox {
		display: initial;
		position: absolute;
		top: 30%;
		left: 1%;
		width: 96%;
		height: 37%;
		border-style: solid;
		border-width: 1px 1px 1px 1px;
		border-color: pink;
		background-color: #2f1744;
	}

	#rectangle {
		display: none;
	}

	#linkbox {
		position: absolute;
		top: 70%;
		left: 1%;
		margin: auto;
		z-index: 6;
		background-image: url("images/double_pendulum.gif");
		background-repeat: no-repeat;
		border-style: solid;
		border-color: pink;
		border-width: 1px 1px 1px 1px;
		height: 190px;
		width: 215px;
	}
	
	#linkbox p {
		color: purple;
		text-align: justify;
	}
	
	#linkbox ul {
		list-style-type: none;
		height: 190px;
		width: 150px;
	}

	/* secondary elements */
	#koa-ad {
		display: none;
	}

	#snorkle-square {
		display:none;
	}

	/* lastfm display */
	#lastfm {
		position: absolute;
		border: solid pink;
		border-width: 1px 1px 1px 1px;
		z-index: 9;
		background-color: #2f1744;
		width: 42%;
		left: 55%;
		top: 70%;
	}
	
	#album-cover {
		align: center;
		width: 140px;
		height: 140px;
	}
	
	#track {
		font-family: monospace;
		font-size: 16px;
		color: pink;
	}
	
	#artist {
		font-family: monospace;
		font-size: 14px;
		color: pink;
	}
	
	#date {
		font-family: monospace;
		font-size: 12px;
		color: pink;
	}
	
	#date a {
		color: white;
	}
	
}
